
h1 {
    color: #32CD32; /* Color verde claro para el título */
    margin-bottom: 20px;
    text-align: center; /* Centrar el texto */
}

.form-group label {
    color: #32CD32; /* Color verde claro para las etiquetas */
}

.form-control {
    border: 1px solid #32CD32; /* Borde verde claro para los campos de entrada */
}

.form-control:focus {
    border-color: #66ff66; /* Color de borde al enfocar el campo */
    box-shadow: 0 0 5px rgba(50, 205, 50, 0.5); /* Sombra al enfocar el campo */
}

.btn-primary {
    background-color: #32CD32; /* Color verde claro para el botón */
    border-color: #32CD32; /* Asegurar que el borde también sea verde claro */
}

.btn-primary:hover {
    background-color: #66ff66; /* Color más claro al pasar el mouse */
    border-color: #66ff66; /* Borde más claro al pasar el mouse */
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#characters-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.character-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.character-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.delete-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: darkred;
}
